html{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility
}

body{
  background: #FFF;
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  min-height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  width: 100%
}

a,a:link,a:visited{
  color: #777;
  text-decoration: none
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0
}

a,div,input,pre,select,textarea{
  font-family: 'Open Sans',sans-serif;
  outline: none
}